doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="/artwork.css")
    // -- glow stuff --
    link(rel="stylesheet" href="/glow.css")
    script(src="/glow.js" defer)
    // -- embed stuff --
    meta(property="og:type" content="website")
    meta(property="og:title" content=`${title}`)
    meta(property="og:url" content=`https://meow.doeball.ca/artwork/${id}`)
    meta(property="og:image" content=`https://meow.doeball.ca${path}?optimize`)
    meta(name="theme-color" content="#b00be5")
  body.glow-js
    main.card
      h1#title #{title}
      img#image(src=`https://meow.doeball.ca${path}?optimize`)
      a(href=`https://meow.doeball.ca${path}`) View Original